@import "modern-normalize.min.css";

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

:root {
  --container-padding-inline: 13%;
  --footer-padding-inline: 10%;
  --light: #f5f5f7;
  --dark: #221f20;

  @media screen and (max-width: 768px) {
    & {
      --container-padding-inline: 6%;
      --footer-padding-inline: 6%;
    }
  }

  @media screen and (max-width: 375px) {
    & {
      --container-padding-inline: 15px;
      --footer-padding-inline: 15px;
    }
  }
}

::selection {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

html {
  font-family: "Inter", sans-serif;
}

.container {
  padding: 0 var(--container-padding-inline);

  @media screen and (max-width: 768px) {
    & {
      padding: 0 var(--container-padding-inline);
    }
  }

  @media screen and (max-width: 375px) {
    & {
      padding: 0 var(--container-padding-inline);
    }
  }
}

.title {
  font-weight: 400;
  font-size: 40px;
  color: var(--dark);
  text-align: center;
  letter-spacing: 2px;

  @media screen and (max-width: 992px) {
    & {
      font-size: 36px;
    }
  }

  @media screen and (max-width: 576px) {
    & {
      font-size: 24px;
    }
  }
}

.title span {
  position: relative;
}

.title span::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  display: block;
  height: 2px;
  width: 75px;
  background-color: #000;
}

.btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light);
  width: 160px;
  min-height: 38px;
  background: rgba(217, 217, 217, 0);
  padding: 10px 15px;
  /* text */
  font-weight: 100;
  font-size: 16px;
  color: var(--light);
  text-decoration: none;
  transition: all 0.3s ease-out;

  @media screen and (max-width: 575px) {
    & {
      width: 120px;
      min-height: 30px;
      font-size: 14px;
      padding: 7px 15px;
    }
  }
}

.btn:hover {
  font-weight: 500;
  box-shadow: 5px 5px 10px 0 rgba(255, 255, 255, 0.62);
}

/* First section */

.promo {
  position: relative;
  min-height: 100vh;
  background: url("../img/main-bg.jpg") center center / cover no-repeat;
  padding: 75px 0;

  @media screen and (max-width: 768px) {
    & {
      background-position: 60% 20%;
      background-image: url("../img/main-jpg-768.jpg");
    }
  }

  @media screen and (max-width: 375px) {
    & {
      min-height: 500px;
      padding-top: 50px;
      padding-bottom: 30px;
    }
  }
}

.promo__title {
  font-weight: 400;
  font-size: 60px;
  text-transform: uppercase;
  color: var(--light);

  @media screen and (max-width: 768px) {
    & {
      font-size: 48px;
    }
  }

  @media screen and (max-width: 575px) {
    & {
      font-size: 26px;
    }
  }
}

.promo__subtitle {
  margin-top: 125px;
  font-weight: 100;
  font-size: 32px;
  color: var(--light);

  @media screen and (max-width: 768px) {
    & {
      margin-top: 80px;
      font-size: 32px;
    }
  }

  @media screen and (max-width: 575px) {
    & {
      margin-top: 30px;
      font-size: 16px;
    }
  }
}

.promo__address {
  position: relative;
  margin-top: 100px;
  font-weight: 100;
  font-size: 16px;
  color: var(--light);
  line-height: 120%;

  address {
    font-style: normal;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  @media screen and (max-width: 768px) {
    & {
      margin-top: 80px;
    }
  }

  @media screen and (max-width: 375px) {
    & {
      margin-top: 230px;
    }
  }
}

.promo__address::before {
  content: "";
  position: absolute;
  top: -17px;
  left: -45px;
  display: block;
  background: url("../icons/arrow.svg") center center / cover no-repeat;
  height: 49px;
  width: 40px;

  /* @media screen and (max-width: 768px) {
    & {
      left: -40px;
    }
  } */
}

@media screen and (max-width: 768px) {
  .promo__address::before {
    display: none;
  }
  .promo__address::after {
    content: "";
    position: absolute;
    top: -6px;
    left: -30px;
    display: block;
    background: url("../icons/small-arrow.svg") center center / cover no-repeat;
    height: 37px;
    width: 30px;
  }
}

@media screen and (max-width: 550px) {
  .promo__address::after {
    display: none;
  }
}

.keywords {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 360px;
  list-style-type: none;
  width: 100%;
  height: 20px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0.12) 50%,
    rgba(255, 255, 255, 0.2) 100%
  );

  @media screen and (max-width: 1440px) {
    & {
      padding: 0 15px;
    }
  }
}

.keywords__item {
  font-weight: 100;
  font-size: 10px;
  color: var(--light);

  @media screen and (max-width: 1024px) {
    &:nth-last-child(-n + 6) {
      display: none;
    }
  }

  @media screen and (max-width: 576px) {
    &:nth-last-child(-n + 9) {
      display: none;
    }
  }

  @media screen and (max-width: 375px) {
    &:nth-last-child(-n + 11) {
      display: none;
    }
  }
}

/* Second section */

.about {
  padding-top: 80px;
  background-color: var(--light);
}

.about__title {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  color: var(--dark);
}

.about__text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 40px;
  color: var(--dark);
  width: 1050px;
  span {
    color: #a5a5a5;
  }

  @media screen and (max-width: 1440px) {
    & {
      width: 100%;
      font-size: 24px;
    }
  }
}

.about__wrapper {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  column-gap: 15px;

  @media screen and (max-width: 992px) {
    & {
      margin-top: 40px;
      flex-direction: column;
    }
  }
}

.about__wrapper-services {
  width: 50%;

  @media screen and (max-width: 992px) {
    & {
      width: 100%;
    }
  }
}

.about__wrapper-title {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark);
}

.about__wrapper-list {
  margin-top: 20px;
  padding-left: 0;
  list-style-type: none;
}

.about__wrapper-item {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark);
}

.about__wrapper-item:first-child {
  position: relative;
  margin-top: 0;
}

.about__wrapper-item:first-child::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -30px;
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("../icons/camera.svg");
}

.about__wrapper-item:nth-child(3) {
  position: relative;
}

.about__wrapper-item:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -30px;
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("../icons/edit.svg");
}

@media screen and (max-width: 768px) {
  .about__wrapper-item:first-child::before,
  .about__wrapper-item:nth-child(3)::before {
    left: -25px;
  }
}

@media screen and (max-width: 575px) {
  .about__wrapper-item:first-child::before,
  .about__wrapper-item:nth-child(3)::before {
    display: none;
  }
}

.about__wrapper-text {
  width: 50%;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: var(--dark);

  @media screen and (max-width: 992px) {
    & {
      margin-top: 40px;
      width: 100%;
    }
  }
}

/* Third section */

.work {
  padding-top: 80px;
  background-color: var(--light);

  @media screen and (max-width: 768px) {
    & {
      padding-top: 50px;
    }
  }
}

.work__wrapper {
  margin-top: 53px;
  display: grid;
  grid-template: repeat(2, 1fr) 1.511fr / repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 50px 30px;

  @media screen and (max-width: 768px) {
    & {
      margin-top: 43px;
      gap: 30px 20px;
    }
  }

  @media screen and (max-width: 575px) {
    & {
      grid-template-rows: repeat(4, 1fr) 1.511fr;
      grid-template-columns: 1fr;
      grid-auto-rows: 220px;
    }
  }
}

.work__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
}

/* Fourth section */

.inspiration {
  padding-top: 80px;
  background-color: var(--light);

  @media screen and (max-width: 768px) {
    & {
      padding-top: 50px;
    }
  }
}

.inspiration__wrapper {
  margin-top: 53px;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 30px;

  @media screen and (max-width: 992px) {
    & {
      margin-top: 43px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 30px 20px;
    }
  }

  @media screen and (max-width: 575px) {
    & {
      row-gap: 20px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr) 2.13fr 1fr 0.6fr;
    }
  }
}

.inspiration__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
}

#sky {
  grid-column: 2 / 4;
  grid-row: 2 / 3;

  @media screen and (max-width: 992px) {
    & {
      grid-column: 1 / 3;
      grid-row: 4;
    }
  }

  @media screen and (max-width: 575px) {
    & {
      grid-column: 1;
      grid-row: 6;
    }
  }
}

#tenement {
  grid-column: 4 / 5;
  grid-row: 1 / 3;

  @media screen and (max-width: 992px) {
    & {
      grid-column: 2;
      grid-row: 2 / 4;
    }
  }

  @media screen and (max-width: 575px) {
    & {
      grid-column: 1;
      grid-row: 4 / 5;
    }
  }
}

/* Fifth section */

.customers {
  background-color: var(--light);
  padding-top: 80px;
  padding-bottom: 100px;

  @media screen and (max-width: 768px) {
    & {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}

.customers__wrapper {
  margin-top: 53px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (max-width: 992px) {
    & {
      margin-top: 43px;
      gap: 30px 20px;
    }
  }

  @media screen and (max-width: 576px) {
    gap: 30px 36px;
  }
}

.customers__img {
  width: calc((100% - 90px) / 4);
  box-shadow: 7px 7px 12px 0 rgba(0, 0, 0, 0.25);

  @media screen and (max-width: 576px) {
    width: calc((100% - 36px) / 2);
  }
}

/* Sixth section */

.footer {
  padding: 88px var(--footer-padding-inline);
  background-color: #000;

  @media screen and (max-width: 768px) {
    & {
      padding: 88px var(--footer-padding-inline);
    }
  }

  @media screen and (max-width: 992px) {
    & {
      padding: 30px var(--footer-padding-inline) 40px
        var(--footer-padding-inline);
    }
  }

  @media screen and (max-width: 375px) {
    & {
      padding-top: 35px;
    }
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  color: var(--light);
  row-gap: 30px;

  @media screen and (max-width: 992px) {
    & {
      flex-direction: column;
      align-items: start;
      font-size: 16px;
    }
  }

  @media screen and (max-width: 575px) {
    & {
      flex-direction: column;
      align-items: center;
    }
  }
}

.footer__links {
  display: flex;
  column-gap: 30px;
  padding: 0;
  list-style-type: none;

  li {
    border: 1px solid var(--light);
    width: 32px;
    height: 32px;

    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 22px;
        height: 22px;
      }
    }
  }

  @media screen and (max-width: 575px) {
    order: 1;
  }
}

.footer__addr {
  font-style: normal;

  @media screen and (max-width: 575px) {
    order: 3;
  }
}

.footer__tel {
  color: var(--light);
  text-decoration: none;

  @media screen and (max-width: 575px) {
    order: 2;
  }
}
